<%- include("../partials/layout-start", { title: title }) %>
<%- include("../partials/menu") %>

<div class="row">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-8">
                        <h5 class="card-title"><%= book.title || notSet %></h5>
                        <p class="card-text"><%= book.description || notSet %></p>
                        <p class="card-text"><%= book.authors || notSet %></p>
                        <p class="card-text"><%= book.favorite || notSet %></p>
                        <p class="card-text"><%= book.fileName || notSet %></p>
                        <a class="card-text"><%= book.fileBook || notSet %></a>
                    </div>

                    <div class="col-sm-4">
                        <img style="width: 100%" src="<%= book.fileCover || './public/covers/unnamed.jpg' %>" />
                    </div>
                </div>
                <div class="text-right">
                    <a class="btn btn-sm btn-primary" href="/update/<%= book.id %>">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <form action="/delete/<%= book.id %>" method="POST" class="d-inline">
                        <button class="btn btn-sm btn-danger">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container"></div>
    <div class="row">
        <div class="col-4">
            <div id="list" class="list-group">
                <% book.reviews.forEach((review) => { %>
                    <div class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <small><%= review.username %></small>
                        </div>
                        <p class="mb-1"><%= review.text %></p>
                    </div>
                <%  }); %>
            </div>
        </div>
    </div>

    <% if (user) { %>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="text">Текст отзыва</label>
                    <textarea placeholder="message" class="form-control" id="text" data-book-id=<%= book.id %> data-user=<%= user.username %>></textarea>
                </div>
                <button id="send-room" class="btn btn-primary">Добавить отзыв</button>
            </div>
        </div>
        <script>
            const inputText = document.querySelector('#text');
            const username = inputText.dataset.user;
            const bookID = inputText.dataset.bookId;
            const socket = io.connect('/', { query: `roomName=${bookID}` });
            const boxList = document.querySelector('#list');
            const sendRoom = document.querySelector('#send-room');
            const getTmp = (msg) => {
                return `
                        <div class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <small>${msg.username}</small>
                            </div>
                            <p class="mb-1">${msg.text}</p>
                        </div>
                `;
            }

            socket.on('message-to-room', (msg) => {
                const div = getTmp(msg);
                boxList.insertAdjacentHTML('beforeend', div);
            });

            sendRoom.addEventListener('click', () => {
                socket.emit('message-to-room', {
                    username: username,
                    text: inputText.value,
                });
            });

        </script>
    <% } else { %>
        <a href="/login" role="button" class="btn btn-outline-primary">
            Войти, чтобы оставить отзыв
        </a>
    <% } %>
</div>

<%- include("../partials/layout-end") %>
